.App {
    background-image: linear-gradient(to bottom right,#f0ccbf, #b96360, #4d456f );
    max-width: 750px;
    margin: auto;
    max-height: 1000px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profilePicture {
    width: 100px;
    border-radius: 45%;
    margin: auto;
    margin-left: 200px;
    display: flex;
    padding-top: 10px;
}

.headerContainer {
    background-image: linear-gradient(to bottom right,#f0ccbf, #b96360, #373B44 );
    /* background-image: '../assets/gradient1.JPG'; [why does this not work?] */
    border-bottom: 2px dashed #000;
}

.profileName {
    text-align: left;
    padding-left: 10px;
    color: #181232;
    font-size: 30px;
}

.profileAbout {
    text-align: right;
    padding-right: 10px;
    color: #bf4529;
}


/* talk to christian about this to see why it's not working?  
.musicRow {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.bandcampImage, .spotifyImage, .appleImage {
    padding: 5px;
}

.musicComponent {
    background-color: white;
    width: 25%;
    max-width: 600px;
    margin: 1em auto;
    padding-bottom: 2em;
    border: 0.1px solid black;
    border-radius: 10px;
    text-align: center;
}

.musicCover {
    border-radius: 10%;
    width: 150px;
    height: 150px;
  }

  .playButton {
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
  }

  .subTitle {
    margin-top: -1em;
    color: #4f4f4f;
    text-align: center;
  }
  
  .time {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: #828282;
    font-size: smaller;
  }
  
  .timeline {
    width: 80%;
    background-color: #27ae60;
  }
  
  input[type="range"] {
    background-color: #27ae60;
  }
  
  @media (max-width: 900px) {
    .component {
      width: 50%;
    }
}