.App {
    background-image: linear-gradient(to bottom right,#f0ccbf, #b96360, #4d456f );
    max-width: 750px;
    margin: auto;
    max-height: 1000px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profilePicture {
    width: 100px;
    border-radius: 45%;
    margin: auto;
    margin-left: 200px;
    display: flex;
    padding-top: 10px;
}

.headerContainer {
    background-image: linear-gradient(to bottom right,#f0ccbf, #b96360, #373B44 );
    border-bottom: 2px dashed #000;
}

.profileName {
    text-align: left;
    padding-left: 10px;
    color: #181232;
    font-size: 30px;
}

.profileAbout {
    text-align: right;
    padding-right: 10px;
    color: #bf4529;
}


/* talk to christian about this to see why it's not working?  
.musicRow {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.bandcampImage, .spotifyImage, .appleImage {
    padding: 5px;
}
